nav .nav-link.current {
    font-weight: bold;
    border-bottom: 2px solid;
}

.sub-navigation {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.brochure-block {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
}

.blog-image {
    margin-top:25px;
    margin-bottom: 25px;
}

.blog-image .blog-header {
    border-radius: 5px;
}